%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}

    %title
      = current_page.data.title || "The Middleman"

    = stylesheet_link_tag "all"
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    = javascript_include_tag "all"
  %body
    = yield